@import "tailwindcss";

:root,
html {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;
  --color-bg-tertiary: #e5e7eb;

  --color-text-primary: #111111;
  --color-text-secondary: #64748b;
  --color-text-tertiary: #a1a1aa;

  --color-gradient-primary: linear-gradient(135deg, #2563eb 0%, #a21caf 100%);
  --color-gradient-secondary: linear-gradient(135deg, #ffe957 0%, #df6602 100%);
  --color-gradient-tertiary: linear-gradient(135deg, #64748b, #94a3b8);
}

html.dark {
  --color-bg-primary: #1e293b;
  --color-bg-secondary: #3E495C;
  --color-bg-tertiary: #334155;

  --color-text-primary: #f3f4f6;
  --color-text-secondary: #C0C3C9;
  --color-text-tertiary: #2D3547;

  --color-gradient-primary: linear-gradient(135deg, #06b6d4 0%, #a78bfa 100%);
  --color-gradient-secondary: linear-gradient(135deg, #232946 0%, #0f172a 100%);
  --color-gradient-tertiary: linear-gradient(135deg, #94a3b8, #64748b);
}


.bg-surface-primary {
  color: var(--jc-bg-primary);
}

.bg-surface-secondary {
  color: var(--jc-bg-secondary);
}

.bg-surface-tertiary {
  color: var(--jc-bg-tertiary);
}

.gradient-surface-primary {
  background: linear-gradient(135deg, var(--jc-gradient-primary) 0%, var(--jc-gradient-tertiary));
}

.border-gradient-primary {
  border-image: var(--color-gradient-primary) 1;
  border-image-slice: 1;
  border-radius: 10px;
}

.border-gradient-primary:hover {
 background-image: var(--color-gradient-primary) ;
}

/* Custom focus ring using text-primary variable */
:focus,
:focus-visible {
  outline-color: var(--color-text-primary);
}



